
/*---------------------------------------------------Text Styling--*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,700,800|Raleway:200,200i,300,300i,400,400i,500,500i,600,700,800&display=swap');

.body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 25px;
}

h1, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 40px;
}
@media (min-width:768px) {
    h1 {
        font-size:40px;
    }
}

h2 {
    font-family:'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight:100;
    }
@media (min-width: 768px) {  
h2 { font-size: 35px;}
}

h3, h4 {
    color: #548788;
}

h3 {
    font-size: 25px;
    font-weight: 300;
}

h4 {
    font-size: 19px;
    font-weight: 400;
}

.lead {
    font-size: 20px;
    font-weight:200;
}

@media (min-width: 576px) {
    .lead {
        font-size: 25px;
    }
}

p {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    margin-top: 2rem;
}

@media (min-width: 768px) {  
    p {
        font-size: 20px;
        }
}

p a {
    color: #fff;
    text-decoration: none;
    font-weight:bold;
}

p a:hover,
p a:active {
    color: #fff;
    text-decoration: none;
    background-color: #155763;
}

i {
    padding: 15px;
}

/*---------------------------------------------------Dividers--*/
.block-divider {
    width: 80px;
    height:2px;
}

.block-divider-sm {
    width: 40px;
    height:1px;
}

.divider-green {
    background-color: #548788;
}

.divider-white {
    background-color: #ffffff;
}

@media (min-width:992px){
    .block-divider-projects {
        background-color: #548788;
        height: 0.2px;
        width: 60px;
}
}

/*---------------------------------------------------Body--*/
.row {
    margin-right: 0px;
}
/*---------------------------------------------------Navbar Top (Imdb)--*/

.navbar {
    background-color: rgba(0,0,0,0)
}

.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.navbar {
    float: right;
    padding: 0;
}
@media (max-width:767px){
    .navbar {
        margin-bottom: 30px;
    }
}

/*---------------------------------------------------Navbar Scrolling (Main Nav)--*/

@media (min-width:767px) {
#main-navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #fff;
    background-color: #155763;
    }
}
@media (max-width:767px){
#main-navbar {
    width: 100%;
    text-align:center;
    background-color:#155763;
    font-size: 20px;
    }
}

.nav-item {
    padding-bottom: 20px;
    padding-top: 20px;
}
.nav-item:last-child {
    font-size: 40px;
    padding-top: 0;
    padding-bottom: 10px;
}
@media (max-width:767px) {
.nav-item {
    padding: 5px;
}
}

.navbar-toggler {
    background-color:#155763;
    width: 100%;
    font-size: 25px;
}

.navbar-dark .navbar-nav .nav-link.active {
    background-color:#548788;
}

/*---------------------------------------------------Chevron--*/
.chevron {
    color: #fff;
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    right: 40%;
}
.chevron:hover {
    color: #fff;
    font-size: 55px;
}
@media (min-width:768px){
   .chevron{
       font-size:60px;
       right:3%;
   } 
   .chevron:hover {
       font-size: 65px;
   }
}
@media(min-width: 992px){
    .chevron{
       font-size:65px;
       right:2.5%;
   } 
   .chevron:hover {
       font-size: 70px;
   }
}

/*---------------------------------------------------Buttons and Links--*/

.imdb-main {
    color:#fffd95;
    font-size: 60px;
}

@media (min-width:992px) {
.imdb-main:hover{
    color: #fff;
    transition-duration: 0.2s;
    }
}

.btn-contact {
    font-family: 'Raleway', sans-serif;
    background-color: #548788;
    color:#fff;
    border-radius: 50%;
    padding-top: 34px;
    padding-bottom: 34px;
}

.btn-contact:hover,
.btn-contact:active,
.btn-contact:focus,
.btn-contact:active:focus {
    background-color: #155763;
    color: #fff;
    transition-duration: 0.3s;
}

.btn-submit {
    margin-top: 15px;
    padding: 26px 10px;
}

.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus,
.btn-submit:visited {
    color: #fff;
}

.btn-read-more {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #548788;
    font-weight:bold;
}

.btn-read-more:hover,
.btn-read-more:active {
    text-decoration: none;
    color: #fff;
    background-color: #155763;
    
}
/*---------------------------------------------------Home--*/

.soundwaves-container{
    background: url("../images/seagreens.jpg") no-repeat right center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100vh;
}

.title-container {
    padding-bottom: 70px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    max-height: 100vh;
}
@media (max-width: 576px){
    .title-container {
        padding-bottom:0;
    }
}
.title-animation1 {
    animation-delay: 0.5s;
}

.title-animation2 {
    animation-delay: 1.2s;
}

.animation-button {
    animation-delay: 1.2s;
}

/*---------------------------------------------------About--*/
.about-container {
    background-color: #548788;
    padding: 70px 40px 50px 40px;
}

@media (min-width: 576px) {
    .about-container {
        padding: 100px 120px 80px 50px;
    }
}
@media (min-width: 768px) {
    .about-container {
        padding: 100px 160px 80px 50px;
    }
}  
@media (min-width: 992px) {
    .about-container {
        padding: 150px 150px 150px 100px;
    }
}

.about-header {
    text-align: center;
}

.about-text>h2 {
    margin-bottom: 15px;
}

.about-text {
    margin: 0px 0px 30px 0;
}
@media (min-width: 992px) {
    .about-text > p {
        font-weight: 300;
    }
}

.alex-image {
    opacity: 0.7;
}
.alex-image:hover {
    opacity: 1;
    transition-duration: 1s;
}

.alex-image-wrapper {
    text-align: center;
}
@media (min-width: 992px) {
     .alex-image-wrapper {
         padding: 90px 0px 0px 10px;
     }
}

/*---------------------------------------------------Services--*/

.service-text h2,
.service-container h2,
.contact-container h2 {
    color: #548788;
}

.service-text>h2 {
    font-weight: 400;
}

.services-container {
    background-color: #fff;
    padding: 90px 50px 50px 40px;
}
@media (min-width: 768px) {
    .services-container{
        padding:110px 50px 60px 50px;
    }
}
@media (min-width: 992px) {
    .services-container {
        padding: 120px 150px 60px 80px;
    }
}

.service-text {
    text-align: center;
    padding-bottom: 40px;
}
@media (min-width: 576px) {
    .service-text{
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    .service-text {
        padding-bottom: 80px;
    }
}
@media (min-width: 992px) {
    .service-text {
        padding: 0px 30px 80px 30px;
    }
}

.service-text p {
    color: #548788;
    font-weight: 400;
}

@media (min-width: 576px) {
    .service-text h2 {
        font-size: 35px;
    }
}

/*---------------------------------------------------Projects--*/

.projects-heading {
    text-align: center;
    padding-bottom: 30px;
}

.projects-container {
    background-color: #155763;
    padding:80px 40px;
}
@media (min-width:768px){
    .projects-container {
        padding:100px 150px 120px 40px;
    }
}

.film-projects {
    text-align: center;
}
@media (min-width: 1200px) {
    .film-projects {
        max-height: 200px;
    }
}

.film-poster {
    width: 100%;
    margin: 0;
    background-color: #000000;
}

.film-poster img {
    opacity: 0.7;
    width: 100%;
    height: auto;
}
.film-poster img:hover,
.film-poster img:visited {
    opacity: 1;
}

.project-text > hr {
    margin-bottom: 1rem;
}

.photo-label{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align:center;
    padding-top: 10px;
}
@media (min-width: 768px) {  
 .photo-label {
     font-size: 18px;
 }
}
@media (min-width: 992px) {
    .photo-label {
        font-size: 20px;
        padding-top: 35px;
    }
}

/*---------------------------------------------------Testimonials--*/

.test-container {
    background-color: #548788;
    padding: 80px 40px 70px 40px;
    text-align: center;
}
@media (min-width:768px) {
    .test-container {
        padding: 100px 160px 80px 50px;
    }
}
@media (min-width: 992px) {
    .test-container {
        padding: 150px 150px 150px 100px;
    }
}

.logo-image {
    padding-top: 40px;
}

.testimonial {
    font-size: 18px;
    font-weight: 200;
}
@media (min-width: 576px) {
    .testimonial {
        font-size: 20px;
    }
}
@media (min-width:992px) {
    .testimonial {
        padding: 0px 30px;
    }
}
.test-name {
    font-size: 20px;
    font-weight: 400;
}
@media (min-width: 576px) {
    .test-name {
        font-size: 21px;
        font-weight: 500;
    }
}

/*---------------------------------------------------Contact--*/

.contact-container {
    text-align: center;
    padding: 70px 40px;
}

@media (min-width: 768px) {
    .contact-container {
        padding: 95px 40px 70px 40px;
    }
}

.contact-container p {
     color: #548788;
}

.contact-details {
    font-weight: 500;
    font-size: 15px;
}
@media (min-width: 992px) {
    .contact-details {
        font-size: 19px;
        font-weight: 400;
    }
}

.contact-row {
    margin: 0 10%;
}

/*---------------------------------------------------Contact Form--*/
.form-wrapper {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:#548788;
    padding: 30px 10px 40px 10px;
}

@media (min-width: 768px){
    .font-wrapper {
        padding: 40px 60px;
    }
}

/*---------------------------------------------------Footer--*/

footer {
    background-color: #155763;
    word-wrap: break-word;
}
.social-media a {
    list-style: none;
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    text-align: center;
}

.social-media ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}
