/*colours*/

/* text colour: #f9f9e2
    light blue: #79a6c3
    dark blue: #0b61aa */

/*---------------------------------------------------text styling*/
.body {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    }

h1 {
    color: #f9f9e2;
    }

h2 {color: #79a6c3;
    font-size: 30px;
    margin-bottom: 15px;
}

i {
    padding: 15px;
}


.block-divider {
    background-color: #f9f9e2;
    width: 80px;
    height:2px;
}

/*--------------------------------------------------------navbar*/

.navbar {
    background-color: rgba(1,91,167,0.2)
}
.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
/*----------------------------------------------------------------scrollspy*/

.scrollspy-wrapper {
  /*  position: absolute; */
  float: right;

}

.list-group-item {
    font-style: 'Raleway', sans-serif;
    color: #4385b7;
    background-color: #f9f9e2;
    text-align: left;
}

/*-----------------------------------------------------buttons and links*/

.alex-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
     color: #f9f9e2;
}

.alex-text:hover{
    text-decoration: none;
    color: #4385b7;
    transition-duration: 0.5s;
}

.fa-imdb {
    color:#f9f9e2 /* #f9f9e2*/;
    font-size: 60px;
}

.fa-imdb:hover{
    color: #4385b7;
    transition-duration: 0.2s;
}

.btn-contact {
    background-color: #f9f9e2;
    color:#4385b7;
    
    border-radius: 50%;
    padding-top: 34px;
    padding-bottom: 34px;
    font-family: 'Raleway', sans-serif;
}

.btn-contact:hover,
.btn-contact:active,
.btn-contact:focus,
.btn-contact:active:focus {
    background-color: #4385b7;
    color: #f9f9e2;
    transition-duration: 0.3s;
}

.chevron {
    color: #f9f9e2;
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    right: 5%;
    text-align: center;
}

.chevron:hover {
    color: #4385b7;
}

/*---------------------------------------------containers*/
/*---------------------------------------------Home*/
.soundwaves-container{
    background: url("../images/evening-night-bottom.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100vh;
}

.title-container {
    padding-bottom: 70px;
    color: #f9f9e2;
    font-family: 'Raleway', sans-serif;
}
/*---------------------------------------------------------About*/
.about-container {
    background-color: #4385b7;
    color: #f9f9e2;
    font-family: 'Raleway', sans-serif;
}

.about-text {
    padding: 80px;
}

.alex-image {
    padding-top: 80px;
}
/*-------------------------------------------------------Services*/
.services-container {
    padding-top: 50px;
    padding-left:40px;
    padding-right:40px;
     background-color: #f9f9e2;
    color: #4385b7;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

div.col-4 {
    padding: 30px;
}

/*-------------containers*/

