/*colours*/

/* text colour: #f9f9e2
    light blue: #79a6c3
    dark blue: #0b61aa */

/*---------------------------------------------------text styling*/
.body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 25px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    }

h1 {
    color: #ffffff;
    font-size: 45px;
    }

h2 {color: #548788;
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    color: #fff;
    font-size: 30px;
}

.lead {
    font-size: 25px;
    font-weight:200;
}

.p a {
    text-decoration: none;
    color: #e1e1e1;
    font-weight:bold
}

i {
    padding: 15px;
}

.block-divider {
    background-color: #ffffff;
    width: 80px;
    height:2px;
}


.block-divider-sm {
    background-color: #548788;
    width: 30px;
    height:2px;
}

/*--------------------------------------------------------navbar top*/

.navbar {
    background-color: rgba(0,0,0,0)
}
.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.navbar {
    float: right;
    padding: 0;
}

/*---------navbar scrolling--------------*/
#main-navbar {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-right:2%;
    padding-top:0;
    margin-top:0;
    border: 0;
}

#main-navbar .nav-item {
    color: #fff;
    background-color: #155763;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#main-navbar .nav-item:last-child {
    font-size: 40px;
    padding-top: 0;
    padding-bottom: 10px;
}

#main-navbar .nav-item:hover {
    background-color: #548788;
}

.navbar-toggler {
    background-color:#155763;
    color: #fff;
    font-size: 50px;
    border: none;
}

.navbar-toggler-icon {
    background-color:#155763;
    font-size: 40px;
}

/*----------------chevron----------*/
.chevron-bar {
    position: absolute;
    display:block;
    bottom: 0px;
    width: 100%;
    right: 0px;
    height:90px;
    /*background-color: #155763;*/
    text-align:center;
    margin: none;
    padding: none;
    text-decoration: none;
    color: #fff;
}

.chevron-bar-chevron {
    text-decoration: none;
    color: #ffffff;
    font-size: 65px;
}

.chevron {
    color: #fff;
    font-size: 65px;
    position: absolute;
    bottom: 0px;
    right: 2.5%;
}

.chevron:hover {
    color: #155763;
}

/*-----------------------------------------------------buttons and links*/

.alex-text {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    padding-bottom: 40px;
}

.alex-text:hover{
    text-decoration: none;
    color: #fff;
    transition-duration: 0.5s;
}

.imdb-main {
    color:#fffd95;
    font-size: 60px;
}

.imdb-main:hover{
    color: #fff;
    transition-duration: 0.2s;
}

.btn-contact {
    font-family: 'Raleway', sans-serif;
    background-color: #548788;
    color:#fff;
    border-radius: 50%;
}

.btn-contact:hover,
.btn-contact:active,
.btn-contact:focus,
.btn-contact:active:focus {
    background-color: #155763;
    color: #fff;
    transition-duration: 0.3s;
}

.btn-contact-contact {
    padding-top: 34px;
    padding-bottom: 34px;
}

.btn-contact-sayhi {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.btn-services {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:#548788;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.btn-services:hover,
.btn-services:active,
.btn-services:focus {
    text-decoration: none;
    color: #155763;
    transition-duration: 0.2s;
}

/*---------------------------------------------Home*/
.soundwaves-container{
    background: url("../images/seagreens.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100vh;
}

.title-container {
    padding-bottom: 70px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.title-animation1 {
    animation-delay: 0.5s;
}

.title-animation2 {
    animation-delay: 1.5s;
}

.animation-button {
    animation-delay: 2.5s;

}

/*---------------------------------------------------------About*/
.about-container {
    background-color: #548788;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 80px;
    font-weight: 200;
    font-size: 20px;
}

.about-text {
    padding: 30px;
}

.about-text a {
    text-decoration: none;
    color: #fff;
    font-weight:bold;
}

.alex-image {
    padding-top: 60px;
    text-align: center;
}

.alex-image:hover {
    transform: scale(1.05);
    transition-duration: 1s;
}

.btn-read-more {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #548788;
    font-weight:bold;
}

.btn-read-more:hover,
.btn-read-more:active {
    text-decoration: none;
    color: #fff;
    background-color: #155763;
    
}

/*-------------------------------------------------------Services*/
.services-container {
    background-color: #e1e1e1;
    padding: 80px;
}

#services-sm {

}

#services-lg { 
    padding-right: 100px;
}

.service-text {
    color: #548788;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}

.service-text-lg {
    
}

#services-container-lg {
     padding-right: 200px;
}

.service-text-sm {

}


